# PostgreSQL Settings
DB_NAME=web_project_db
DB_USER=tie12383-hash
DB_PASSWORD=d7951325
DB_HOST=localhost
DB_PORT=5433

# Django Settings
SECRET_KEY=d7951325
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1